.footer{
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}

.footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 16px 2% 0px 2%;
    gap: 24px;
}



.footer-item > p{
    line-height: 2;
    /* border: 1px solid blue; */
}

.footer-item > h4{
    cursor: pointer;
}


.copy-right{
    text-align: center;
    font-weight: 700;
    color: rgb(126, 114, 114);
    padding: 16px;
    font-size: 0.8rem;
    border: 1px solid gainsboro;
    border-bottom: none;
    border-left: none;
    border-right: none;
}